@import 'utility-mixins';

.animated-deck {
  overflow-x: hidden;
  background: url(/images/cloth-pattern.png);
  &.effect-expose {
    .cards {
      @include clearfix;
      width: 300%;
      margin-left: -100%;
    }
  }
}

.animated-card {
  background-color: #eee;
  padding: 10px;
  float: left;
  width: 33.33333%;
  &.placeholder {
    visibility: hidden;
  }
  // Efects
  .effect-expose & {
    transform-origin: 50% 400px;
    will-change: transform;
  }
}


// .animated-deck {
//   overflow-x: hidden;
//   background: url(/images/cloth-pattern.png);
//   .cards {
//     overflow-x: hidden;
//     @include clearfix;
//     width: 100vw;
//   }
// }

// .animated-card {
//   background-color: #eee;
//   padding: 10px;
//   float: left;
//   margin-right: -100%;
//   width: inherit;
//   &.placeholder {
//     visibility: hidden;
//   }
// }

// #next-card {
//   transform-origin: 0 100%;
// }
