@import 'utility-mixins';
@import 'constants';

.animated-deck {
  background: #555 url(/images/cloth-pattern.png);
  height: calc(100vh - #{$app-header-height});
}

.animated-card {
  background-color: #eee;
  padding: 10px;
  height: calc(100vh - #{$app-header-height});
  width: 100%;
  overflow-y: scroll;
  &.placeholder { display: none; }
  .effect-expose &, .effect-slide & {
    position: absolute;
    will-change: transform;
    &#next-card { left: 100%; }
    &#previous-card { left: -100%; }
  }
  .effect-stack & {
    will-change: transform;
    position: absolute;
    &#next-card { left: 100%; }
  }
  .card-loading-icon {
    margin: 50% auto;
  }
}
