$menu-width: 320px;
#app-menu {
  background-color: #555;
  color: white;
  position: fixed;
  width: $menu-width;
  height: 100%;
  left: -$menu-width;
  will-change: transform;
  z-index: 100;
  a.active, a:active {
    background-color: #666;
  }
}
.menu-item {
  padding: 0.3333rem;
  display: block;
  line-height: 250%;
}
