$menu-width: 320px;
#app-menu {
  background-color: #555;
  color: white;
  position: fixed;
  width: $menu-width;
  height: 100%;
  transform: translateX(-$menu-width);
  will-change: transform;
  z-index: 100;
}
.menu-item {
  padding: 0.3333rem;
}
