// News index
#news-index {
  background-color: #eee;
  padding: 10px;
}

.article-summary {
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  .header {
    background-color: white;
    color: black;
    font-family: "Impact";
    font-style: bold;
    padding: 0 18px;
  }
  .thumbnail {
    display: block;
    margin: 0 auto;
    max-width:100%;
    max-height:100%;
  }
}

// News show

.article-body {
  text-align: justify;
  img {
    display: block;
    width: 100%;
  }
}
