// Section wrapper
#news {
  background: url(/images/cloth-pattern.png);
  min-height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

// News index
#news-index {
  background-color: #eee;
  padding: 10px;
}

.article-summary {
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  .header {
    background-color: white;
    color: black;
    font-family: "Impact";
    font-style: bold;
    padding: 0 18px;
  }
  .thumbnail {
    display: block;
    margin: 0 auto;
    max-width:100%;
    max-height:100%;
  }
}

// News show
#news-show {
  width: 300vw;
  margin-left: -100%;
}

.article-detail {
  width: 33.3333333%;
  float: left;
  // transform: scale(0.94) translateX(-30px);
  background-color: #eee;
  padding: 10px;
  &.previous-article {

  }
  &.next-article {

  }
}

.article-body {
  text-align: justify;
  img {
    display: block;
    width: 100%;
  }
}

// Notes for 3D animation
// .cards-container {
//   -webkit-perspective: 700px;
//   -webkit-perspective-origin-x: $device-width / 2;
//   -webkit-perspective-origin-y: "Not sure, probably also vertically centered"
// }

// .card {
//   -webkit-transform: translate3d(0, 0, valor-z);
// }
