{{#each model as |article|}}
  <article class="article">
    <img class="article-thumbnail" src="{{article.thumbnailUrl}}">
    <header class="article-header"><h2>{{article.header}}</h2></header>
  </article>
{{/each}}
