<swipeable-list id="news-index" items={{model}} item-component="article-summary" select="show" as |list|>
  <div class="article-detail clone">
    <header><h2>{{list.selection.header}}</h2></header>
    <div class="article-body">{{{list.selection.body}}}</div>
  </div>
</swipeable-list>
