<header id="app-header">
  <h1 id="app-title">Mobile Patterns</h1>
</header>
<slide-menu id="app-menu" observed-element="mobile-patterns">
  <div class="menu-item">Section 1</div>
  <div class="menu-item">Section 2</div>
</slide-menu>
<div id="app-content">
  {{outlet}}
</div>
