<h2>Mobile Patterns in Ember.js</h2>
<p>
  This is a sample showcase of common mobile UI patterns in mobile development done in Ember.js
</p>
<p>
  It's ultimate goal is to serve to other Ember.js devs as source of inspiration for implementing
  their solutions and components.
</p>
